body{font-family: "微软雅黑";}
.hander{width: 100%;height: auto;background: #3d3d3d;padding: 5px 0 5px 0;}
.hander >ul{overflow: hidden;}
.hander >ul li{float: left;padding: 10px 20px 10px 20px;line-height: 30px;height: 30px;color: #fff;font-size: 14px;cursor: pointer;}
.hander >ul li a{color: #fff;}
.active{background: #303030;border-radius: 5px;}
.acolor{color: #dbdbde !important;}

/*主体*/
.main{width: 1200px;height: auto;margin: 0 auto;}
.main >h3{height: 40px;line-height: 40px;color: #fff;background: #0074D9;padding-left: 10px;font-size: 14px;}
.div_daima >h4{height: 40px;line-height: 40px;color: #fff;background: #C0C0C0;padding-left: 10px;font-size: 12px;border-radius: 0 0 3px 3px;}
.div_daima code a{color: #fff;padding: 0 10px;background: #008000;}
.div_daima code a:hover{background: #f00;}
.div_daima code a:active{background: #008000;color: #fff;}

.div_daima pre img{position: absolute;right: 30px;top: 30px;}
.div_daima pre,.pre{font-family: "微软雅黑";position: relative;text-align: left;color: #48484c;background: #f7f7f9;border: 1px solid #e1e1e8;border-top: none;padding-top:20px;}
pre >b{color: red;font-family: arial;}

pre:last-child{border-radius: 0 0 5px 5px;}
pre >a{color: red;}
pre >a:hover{color: #003399;font-size: 14px;}
.pre img{margin: 10px 20px 20px 20px;}
.pre ul{padding: 20px;}
.pre ul li{padding: 10px;}
.pre ul li a{padding: 10px;position: relative;color: #02ABEE;}
.pre ul li a:hover{padding: 20px;background: #008000;color: #fff;}
.pre ul li a:active{top: 1px;}
code{
    padding: 2px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    margin-left: 15px;
}
#div-Top{position: fixed;bottom:50px;right: 10px;}
#div-Top dl{width: 50px;background: #DCDCDC;}
#div-Top dl dt{transition: 2s;width: 50px;height: 50px;position: relative;overflow: hidden;border-bottom: 1px solid #FFFFFF;}
#div-Top dl dt:nth-of-type(2){border: none;}
#div-Top dl dt:hover{background: #BCBCBC;}

/*#div-Top ul .to_top{display: none;}*/
#div-Top dl .weixin div{width: 50px;top: 0;left: 0;position: absolute;height: 100px;background: url(../img/weixin-icon.png) no-repeat;}
#div-Top dl dd img{display: block;position:absolute;left: -144px; top: -100px;display: none;}
#div-Top dl .to_top div{width: 50px;top: 0;left: 0;position: absolute;height: 100px;background: url(../img/top-icon.png) no-repeat;}


