html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

img, fieldset {
	border: 0;
}

/* set image max width to 100% */
img {
	max-width: 100%;
	height: auto;
	width: auto\9;
 /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
	float: right;
	    margin: -23px 20px 0px;
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/


/*通用页面样式、顶部*/
* {
	margin: 0;
	padding: 0;
	list-style-image: none;
	list-style-type: none;
}

html {
	-webkit-text-size-adjust: none;
	background-color: #E3E3E3;
}

body {
}

a {
	color: #026acb;
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0 0 1.2em;
	padding: 0;
}

/* list */
ul, ol {
	padding: 0;
	line-height: 140%;
}

li {
	margin: 0 0 .5em 0;
	padding: 0;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
	color: #000;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

/* reset webkit search input styles */
input[type=search] {
	-webkit-appearance: none;
	outline: none;
}

input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
	width: 100%;
	font-family: 微软雅黑;
	background-repeat: repeat-y;
	background-position: center;
	margin: -20px auto;
}

img {
	border: none;
}

.fix {
	clear: both;
	height: 1px;
	font-size: 0px;
}

#logo {
	background: url("../imges/bg1.png") no-repeat 0px 0px;
	margin-top: 20px;
	background-position: 16px 8px;
}


#logo:hover {
	background-position: 16px -90px;
}

#logo a {
	text-indent: -9999px;
	display: block;
	height: 80px;
	outline: none;
}

#crumb {
	color: #888;
	border-top: 1px dashed #ECEDE8;
	border-bottom: 1px solid #ECEDE8;
	margin-top: -1px;
	position: relative;
	_zoom: 1;
	zoom: 1;
	padding: 10px 0;
}
/*
#header-right
{
	width:680px;
	overflow:hidden;
}
*/
#header-icons {
	float: right;
	position: relative;
	margin: -63px 0px 0 0;
}
#header-icons img{width:50px;z-index: 9999;margin-top: -10px;margin-right: 20px;}


#header-icons ul li {
	float: left;
	margin: 0 14px 0 0;
}

#header-icons ul li a {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../imges/bg.png) no-repeat;
	text-indent: -9999px;
}

#header-icons .icon-ips {
	background-position: 3px -225px;
}

#header-icons .icon-ips:hover {
	background-position: 3px -265px;
}

#header-icons .icon-ipc {
	background-position: -35px -225px;
}

#header-icons .icon-ipc:hover {
	background-position: -35px -263px;
}

#header-icons .icon-bzk {
	background-position: -107px -198px;
}

#header-icons .icon-bzk:hover {
	background-position: -107px -251px;
}

#header-icons .icon-zhaofile {
	background-position: -143px -225px;
}

#header-icons .icon-zhaofile:hover {
	background-position: -143px -265px;
}

.top {
	height: 150px;
	width: 1180px;
	margin-right: auto;
	margin-left: auto;
}

.nav {
	height: 80px;
	padding-top: 45px;
	float: right;
	width: 170px;
}

.nav_dhrs {
	height: 53px;
	width: 53px;
	float: right;
}

.nav_dhrs a {
	text-decoration: none;
	display: block;
	height: 53px;
	width: 53px;
	background-image: url("../img/nav.png");
	background-repeat: no-repeat;
	background-position: -106px center;
}

.nav_dhrs a:hover {
	text-decoration: none;
	background-image: url("../img/nav.png");
	background-repeat: no-repeat;
	background-position: right center;
}

.nav_design {
	height: 53px;
	width: 53px;
	float: right;
}

.nav_design a {
	text-decoration: none;
	display: block;
	height: 53px;
	width: 53px;
	background-image: url("../img/nav.png");
	background-repeat: no-repeat;
	background-position: left center;
}

.nav_design a:hover {
	text-decoration: none;
	background-image: url("../img/nav.png");
	background-repeat: no-repeat;
	background-position: -53px center;
}

.nav_x {
	height: 42px;
	float: right;
}

.book_shuju {
	height: 12px;
	width: 50px;
	float: right;
	padding-top: 4px;
}

/*微博分享、链接*/
.links {
	width: 1180px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 45px;
	height: 97px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
}

.follow {
	float: left;
	height: 45px;
}

.follow_icon {
	width: 45px;
	float: left;
	height: 45px;
	text-align: center;
	padding-right: 15px;
}

.follow_sina {
	width: 45px;
	float: left;
	height: 45px;
	padding-right: 15px;
}

.follow_sina a {
	text-decoration: none;
	display: block;
	height: 45px;
	width: 45px;
	background-image: url("../img/share.png");
	background-repeat: no-repeat;
}

.follow_sina a:hover {
	text-decoration: none;
	background-image: url("../img/share.png");
	background-repeat: no-repeat;
	background-position: left bottom;
}

.follow_qq {
	width: 45px;
	float: left;
	height: 45px;
	padding-right: 15px;
}

.follow_qq a {
	text-decoration: none;
	display: block;
	height: 45px;
	width: 45px;
	background-image: url("../img/share.png");
	background-repeat: no-repeat;
	background-position: -45px top;
}

.follow_qq a:hover {
	text-decoration: none;
	background-image: url("../img/share.png");
	background-repeat: no-repeat;
	background-position: -45px bottom;
}

.follow_renren {
	width: 45px;
	float: left;
	height: 45px;
	padding-right: 15px;
}

.follow_renren a {
	text-decoration: none;
	display: block;
	height: 45px;
	width: 45px;
	background-image: url("../img/share.png");
	background-repeat: no-repeat;
	background-position: -90px top;
}

.follow_renren a:hover {
	text-decoration: none;
	background-image: url("../img/share.png");
	background-repeat: no-repeat;
	background-position: -90px bottom;
}

.follow_qzone {
	width: 45px;
	float: left;
	height: 45px;
	padding-right: 15px;
}

.follow_qzone a {
	text-decoration: none;
	display: block;
	height: 45px;
	width: 45px;
	background-image: url("../img/share.png");
	background-repeat: no-repeat;
	background-position: -135px top;
}

.follow_qzone a:hover {
	text-decoration: none;
	background-image: url("../img/share.png");
	background-repeat: no-repeat;
	background-position: -135px bottom;
}

#sidebar {
    margin-top: 40px;
    float: left;
    width: 100%;
    margin: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: #EAEAEA;
    padding-top: 50px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #E3E3E3;
}

.designs {
    margin: auto;
    background-color: #EFEFEF;
    background-repeat: no-repeat;
    background-position: right top;
    height: 577px;
}
/*通用底部*/
.ry {
	float: right;
	height: 30px;
	padding-top: 40px;
}

.hda {
	float: left;
	height: 30px;
	width: 167px;
}

.hda a {
	display: block;
	height: 30px;
	width: 167px;
	background-image: url("../img/identity.png");
	background-position: right top;
}

.hda a:hover {
	text-decoration: none;
	background-image: url("../img/identity.png");
	background-position: right bottom;
}

.flipboard {
	float: left;
	height: 30px;
	width: 964px;
	padding-right: 26px;
	margin-top: 18px;
}

.flipboard a {
	display: block;
	height: 13px;
	width: 430px;
	background-image: url("../img/identity.png");
	background-position: left top;
	margin-left: 550px;
}

.icon {
    padding-left: 20px;
}

.icon a {
	text-decoration: none;
	display: block;
	height: 27px;
	width: 193px;
	background-image: url("../img/design_icon.png");
	background-position: center top;
	margin-top: 7px;
}

.icon a:hover {
	text-decoration: none;
	background-image: url("../img/design_icon.png");
	background-position: center bottom;
	margin-top: 7px;
}

.copyright {
	height: 170px;
	z-index: 1000;
	margin-right: auto;
	margin-left: auto;
}

.copyright_z {
	height: 190px;
	background-image: url("../images/five/5_logo.gif");
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}

.copyright_w {
	height: 50px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #D4D4D4;
	float: left;
	padding-right: 10px;
	margin-top: 17px;
    padding-left: 20px;
}

.copyright_w a {
	font-family: "微软雅黑";
	text-decoration: none;
	color: #888888;
}

.copyright_w a:hover {
	text-decoration: none;
	color: #d1ab73;
}

.copyright_certificate {
	height: 30px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #BCBCBC;
	float: left;
	width: 475px;
}

.copyright_certificate a {
	text-decoration: none;
	color: #BCBCBC;
}

.copyright_certificate a:hover {
	text-decoration: none;
	color: #d1ab73;
}

.m_icon {
	height: 30px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #777;
	float: right;
	width: 51px;
	text-align: right;
}

.m_icon a {
	text-decoration: none;
	color: #999;
	background-image: url("../img/m_icon.png");
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
}

.m_icon a:hover {
	text-decoration: none;
	color: #777;
	background-image: url("../img/m_icon.png");
	background-repeat: no-repeat;
	background-position: left -30px;
}

.statistics {
	margin-right: auto;
	margin-left: auto;
	height: 15px;
	font-family: Verdana;
	font-size: 11px;
	color: #EAEAEA;
	float: left;
}

.statistics a {
	color: #EAEAEA;
	text-decoration: none;
}

.statistics a:hover {
	text-decoration: none;
}

.copyright_index_k {
	height: 1px;
}

.copyright_index_k2 {
	height: 170px;
	position: absolute;
	z-index: 1000;
}

.copyright_index {
	margin-right: auto;
	margin-left: auto;
}

/*s底部*/
.about_copyright {
	height: 170px;
	z-index: 1000;
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
}

/*浏览器滚动条*/
::-webkit-scrollbar {
	width: 5px;
	height: 5px
}

::-webkit-scrollbar-button:vertical {
	display: none
}

::-webkit-scrollbar-track:vertical {
	background-color: black
}

::-webkit-scrollbar-track-piece {
	background: #EAEAEA
}

::-webkit-scrollbar-thumb:vertical {
	background-color: #d1ab73;
	border-radius: 4px
}

::-webkit-scrollbar-thumb:vertical:hover {
	background-color: #c49e66
}

::-webkit-scrollbar-corner:vertical {
	background-color: #535353
}

::-webkit-scrollbar-resizer:vertical {
	background-color: #FF6E00
}
