
/************************************************************************************
smaller than 981
*************************************************************************************/
@media screen and (min-width: 1371px) {
    #slider-wrapper{
	width:100%;
    margin: auto;
	}
	#header{
	width:100%;
    margin: auto;
	}
	#page{
	width: 1349px;
    background-color: #EFEFEF;
    margin: auto;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
	}
	#headerall{
	 width: 100%;
    margin: auto;
	}
   .cb{
   display: none;
	}
	}

@media screen and (max-width: 1370px) {

	#slider-wrapper{
	width: 1150px;
    margin: auto;
	}
	#header{
    width: 1150px;
    margin: auto;
	}
	#cd{
   display: none;
	}
	#page{
	width: 1150px;
    background-color: #EFEFEF;
    margin: auto;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
	}
	#headerall{
	    width: 100%;
    margin: auto;
	}
    .copyright_certificate{
	display: none;
	}
	}
	
@media screen and (min-width: 1251px) {
.copyright{
   display: none;
	}
	.top {
	 display: none;
	}
}	

	
@media screen and (max-width: 1250px) {


	#slider-wrapper{
	width:100%;
    margin: auto;
	}
	#header{
	width:100%;
    margin: auto;
	}
	.cb{
   display: none;
	}
#pagewrap{
width: 100%;
}
#page{
width: 100%;
}
#header{
width: 915px;
margin: auto;
 display: none;
}
.c-demoslider{
margin: auto;
width: 915px;
}
.c-860{
padding-left: 0px;
padding-right: 0px;
margin-top: 46px;
}
#cuteslider_3_wrapper{
width: 895px;
margin: auto;
}
.designs{
width: 915px;
    height: 480px;
}
#sidebar{
display: none;
}

	.design dd.vis {width: 25%;height: 240px;}
	.design dd.web{width: 25%;height: 240px;}
	.design dd.app {width: 25%;height: 240px;}
	.design dd.yins{width: 25%;height: 240px;}
	.design dd.web3{width: 25%;height: 240px;}
	.design dd.app3{width: 25%;height: 240px;}
	.design dd.vis3{width: 25%;height: 240px;}
	.design dd.yins3{width: 25%;height: 240px;}

	

	
}
	
/************************************************************************************
smaller than 950
*************************************************************************************/
@media screen and (max-width: 950px) {
#cuteslider_3_wrapper {
width: 100%; 
}

	#header-container{
	display: none;
	}
	#page {
width: 100%;
}
	
	.designs {
width:95%;
margin:auto;
padding-left:0px;
    height: 780px;
}
	.c-demoslider{
	margin-top: 46px;
	width: 95%;
	}
	/* pagewrap */
	#pagewrap {
	width: 100%;
	}
	/* content */
	#content {
	width: 100%;
	}
  	#sidebara {
	width: 100%;
    float: none;
    margin-left: 25%;
    }
    .design_top2{
    width: 94%;
    margin:40px 0 0 0 ;
    }
    .design_top{
    width: 96%;
    }
	/* sidebar */
	#sidebar {
	 display: none;
	}
    #sidebar .widget {
	 display: none;
	}

	/* embedded videos */
	.video embed,
	.video object,
	.video iframe {
	width: 100%;
	height: auto;
	min-height: 300px;
	}


	.design dd.vis { width: 33.3%;height: 260px;}
	.design dd.web{ width: 33.3%;height: 260px;}
	.design dd.app { width: 33.3%;height: 260px;}
	.design dd.yins{ width: 33.3%;height: 260px;}
	.design dd.web3{ width: 33.3%;height: 260px;}
	.design dd.app3{ width: 33.3%;height: 260px;}
	.design dd.vis3 { width: 33.3%;height: 260px;}
	.design dd.yins3{ width: 33.3%;height: 260px;}
	
	}

.copyright {
font-family: STHeitiSC-Light;
font-size: 10px;
line-height: 18px;
color: #AAAAAA;
background-color: #F9F9F9;
height: 62px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #E3E3E3;
padding-top: 10px;
padding-right: 10px;
padding-left: 12px;
margin-top: 15px;
float: left;
width: 100%;
}
.copyright a {
	text-decoration:none;
	color: #999999;
	font-size: 12px;
}
.copyright a:hover {
	text-decoration:none;
}
	
.top {
	height: 44px;
	background-color: #181818;
	width: 100%;
	top: 0px;
	position: fixed;
	opacity:0.95;
	z-index: 1000;
}
.logo {
	height: 44px;
	width: 44px;
	margin-right: auto;
	margin-left: auto;
}
.copyright {
	margin-top: 5px;
	font-family: STHeitiSC-Light;
	font-size: 10px;
	line-height: 18px;
	color: #AAAAAA;
	background-color: #F9F9F9;
	height: 49px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E3E3E3;
	padding-top: 11px;
	padding-right: 10px;
	padding-left: 12px;
}
.copyright a {
	text-decoration:none;
	color: #999999;
	font-size: 12px;
}
.copyright a:hover {
	text-decoration:none;
}
.tongji {
	width: 100%;
	font-size: 12px;
	position: fixed;
	height: 20px;
	top: -30px;
	opacity:0;
}
.nav_icon {
	width: 44px;
	position: absolute;
	height: 44px;
	left: 0px;
	top: 0px;
}
.index_nav3 {
	height: 98px;
	padding-left: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.index_nav_icon {
	background-color: #181818;
	height: 65px;
	width: 32%;
	float: left;
	text-align: center;
	border-radius: 2px;
	margin-right: 2px;
	margin-left: 1px;
	margin-top: 10px;
}
.index_nav_icon a {
	text-decoration:none;
	display: block;
	height: 68px;
	padding-top: 25px;
	color: #ffffff;
}

.index_nav_more2 {
	height: 14px;
	padding-left: 5px;
	padding-right: 5px;
	position: absolute;
	background-color: #FFFFFF;
	top: 3px;
	left: 58%;
	border-radius: 20px;
	z-index: 1000;
	padding-top: 3px;
}


/* GLOBALS */
.wrapper-dropdown-5 {
	/* Size & position */
	width: 44px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	height: 44px;
	position: absolute;
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
}

.wrapper-dropdown-5 .dropdown {
	/* Size & position */
    position: fixed;
	left: 0;
	right: 0;
	list-style: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	/* Hiding */
    max-height: 0;
	overflow: hidden;
	width: 100%;
	background-color: #DDD;
	border-bottom-width: 1px;
	border-bottom-color: #C1C1C1;
	height: 100%;
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px ;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #55a9d9;
}

/* Active state */


.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    max-height: 100%;
}
.iframe_d {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index:10;
}
#mainframe {Safari OSX: no support}
.top {
	height: 44px;
	background-color: #181818;
	width: 100%;
	top: 0px;
	position: fixed;
	opacity:0.95;
	z-index: 1000;
}
.logo {
	height: 44px;
	width: 44px;
	margin-right: auto;
	margin-left: auto;
}
.copyright {
	margin-top: 5px;
	font-family: STHeitiSC-Light;
	font-size: 10px;
	line-height: 18px;
	color: #AAAAAA;
	background-color: #F9F9F9;
	height: 49px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E3E3E3;
	padding-top: 11px;
	padding-right: 10px;
	padding-left: 12px;
}
.copyright a {
	text-decoration:none;
	color: #999999;
	font-size: 12px;
}
.copyright a:hover {
	text-decoration:none;
}
.tongji {
	width: 100%;
	font-size: 12px;
	position: fixed;
	height: 20px;
	top: -30px;
	opacity:0;
}
.nav_icon {
	width: 44px;
	position: absolute;
	height: 44px;
	left: 0px;
	top: 0px;
}
.index_nav3 {
	height: 98px;
	padding-left: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.index_nav_icon {
	background-color: #181818;
	height: 65px;
	width: 32%;
	float: left;
	text-align: center;
	border-radius: 2px;
	margin-right: 2px;
	margin-left: 1px;
	margin-top: 10px;
}
.index_nav_icon a {
	text-decoration:none;
	display: block;
	height: 68px;
	padding-top: 25px;
	color: #ffffff;
}

.index_nav_more2 {
	height: 14px;
	padding-left: 5px;
	padding-right: 5px;
	position: absolute;
	background-color: #FFFFFF;
	top: 3px;
	left: 58%;
	border-radius: 20px;
	z-index: 1000;
	padding-top: 3px;
}


/* GLOBALS */
.wrapper-dropdown-5 {
	/* Size & position */
	width: 44px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	height: 44px;
	position: absolute;
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
}

.wrapper-dropdown-5 .dropdown {
	/* Size & position */
    position: fixed;
	left: 0;
	right: 0;
	list-style: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	/* Hiding */
    max-height: 0;
	overflow: hidden;
	width: 100%;
	background-color: #DDD;
	border-bottom-width: 1px;
	border-bottom-color: #C1C1C1;
	height: 100%;
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px ;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #55a9d9;
}

/* Active state */


.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    max-height: 100%;
}
.iframe_d {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index:10;
}
#mainframe {Safari OSX: no support}
	
	
/************************************************************************************
smaller than 550
*************************************************************************************/
@media screen and (max-width: 550px) {

	.design dd.vis { width: 50%;height: 230px;}
	.design dd.web { width: 50%;height: 230px;}
	.design dd.app  { width: 50%;height: 230px;}
	.design dd.yins { width: 50%;height: 230px;}
	.design dd.web3 { width: 50%;height: 230px;}
	.design dd.app3 { width: 50%;height: 230px;}
	.design dd.vis3 { width: 50%;height: 230px;}
	.design dd.yins3 { width: 50%;height: 230px;}
.designs{
    width: 95%;
    margin: auto;
    padding-left: 0px;
    height: 920px;
}

	#pagewrap {
	width: 100%;
	}

   	#sidebara {
	width: 100%;
    float: none;
    margin-left: 25%;
    }
    .design_top2{
    width: 95%;
    margin:40px 0 0 0 ;
    }
	/* content */
	#content {
	width: 100%;
	}

	/* sidebar */
	#sidebar {
	float: left;
    padding-left: 10px;
	}
    
    
	#sidebar .widget {
	padding: 8% 5%;
	margin-bottom: 10px;
	}

	/* embedded videos */
	.video embed,
	.video object,
	.video iframe {
	width: 100%;
	height: auto;
	min-height: 300px;
	}
.copyright {
	margin-top: 5px;
	font-family: STHeitiSC-Light;
	font-size: 10px;
	line-height: 18px;
	color: #AAAAAA;
	background-color: #F9F9F9;
	height: 49px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E3E3E3;
	padding-top: 11px;
	padding-right: 10px;
	padding-left: 12px;
}
.copyright a {
	text-decoration:none;
	color: #999999;
	font-size: 12px;
}
.copyright a:hover {
	text-decoration:none;
}
	
.top {
	height: 44px;
	background-color: #181818;
	width: 100%;
	top: 0px;
	position: fixed;
	opacity:0.95;
	z-index: 1000;
}
.logo {
	height: 44px;
	width: 44px;
	margin-right: auto;
	margin-left: auto;
}
.copyright {
	margin-top: 5px;
	font-family: STHeitiSC-Light;
	font-size: 10px;
	line-height: 18px;
	color: #AAAAAA;
	background-color: #F9F9F9;
	height: 49px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E3E3E3;
	padding-top: 11px;
	padding-right: 10px;
	padding-left: 12px;
}
.copyright a {
	text-decoration:none;
	color: #999999;
	font-size: 12px;
}
.copyright a:hover {
	text-decoration:none;
}
.tongji {
	width: 100%;
	font-size: 12px;
	position: fixed;
	height: 20px;
	top: -30px;
	opacity:0;
}
.nav_icon {
	width: 44px;
	position: absolute;
	height: 44px;
	left: 0px;
	top: 0px;
}
.index_nav3 {
	height: 98px;
	padding-left: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.index_nav_icon {
	background-color: #181818;
	height: 65px;
	width: 32%;
	float: left;
	text-align: center;
	border-radius: 2px;
	margin-right: 2px;
	margin-left: 1px;
	margin-top: 10px;
}
.index_nav_icon a {
	text-decoration:none;
	display: block;
	height: 68px;
	padding-top: 25px;
	color: #ffffff;
}

.index_nav_more2 {
	height: 14px;
	padding-left: 5px;
	padding-right: 5px;
	position: absolute;
	background-color: #FFFFFF;
	top: 3px;
	left: 58%;
	border-radius: 20px;
	z-index: 1000;
	padding-top: 3px;
}


/* GLOBALS */
.wrapper-dropdown-5 {
	/* Size & position */
	width: 44px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	height: 44px;
	position: absolute;
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
}

.wrapper-dropdown-5 .dropdown {
	/* Size & position */
    position: fixed;
	left: 0;
	right: 0;
	list-style: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	/* Hiding */
    max-height: 0;
	overflow: hidden;
	width: 100%;
	background-color: #DDD;
	border-bottom-width: 1px;
	border-bottom-color: #C1C1C1;
	height: 100%;
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px ;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #55a9d9;
}

/* Active state */


.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    max-height: 100%;
}
.iframe_d {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index:10;
}
#mainframe {Safari OSX: no support}
	
	
	
	