* { 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a:focus {outline:none; -moz-outline:none}
html, body {
  width: 100%;
  height: 100%;
}

body {
  
  font-family: 'Montserrat', sans-serif;
  /*color: #fff;*/
  /*line-height: 1.3;*/
  -webkit-font-smoothing: antialiased;
}



#Max-conatiner {
position: relative;
width: 100%;
height: 100%;
overflow: hidden;
background: url(../img/bj2.jpg) top center no-repeat;
}

#Max-conatiner .handers{width: 100%;height: 110px;background: #000;}
#Max-conatiner  >.fixed{position: fixed;z-index: 98;box-shadow: 0px 2px 10px #444;}
#Max-conatiner .handers >.nav{width: 1180px;height:110px;margin: 0 auto;position: relative;overflow: hidden;}
#Max-conatiner .handers >.nav >a{margin-top: 27px;display: block;}
#Max-conatiner .handers >.nav >ul{height: 76px;position: absolute;right: 0;bottom: 0;}
#Max-conatiner .handers >.nav >ul >li{float: left;margin-right: 48px;line-height: 76px;}
#Max-conatiner .handers >.nav >ul >li >a{display: block;color: #fff;font-size: 16px;font-family: "微软雅黑";position: relative;}
#Max-conatiner .handers >.nav >ul >li >a >i{width: 100%;position: absolute;height: 2px;background: #21578f;left: 0;top: 54px;display: none;}
#Max-conatiner .handers >.nav >ul >li >a >.showActive{display: block;}
#Max-conatiner .handers >.nav >ul >li >a:hover{color: #ccc;}
#particles {
	position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
}
#particles canvas{opacity: 0.25;filter:alpha(opacity=25);}
.intro {
  position: absolute;
  left: 0;
	height: 100%;
  width: 100%;
  text-align: center;
  top: 0;
}

/*轮播*/
.pj-Carousel{width: 500px;height: 300px;overflow: hidden;position: relative;}
.pj-Carousel-box{height: 300px;position: absolute;top: 0;left: 0;background: none;}
.pj-Carousel-item{float: left;height: 300px;position: relative;background: none;}

.bg1 .bg_div-right{background: url(../img/2a.png) no-repeat !important; background-size: 100% !important;}
.bg2 .bg_div-right{background: url(../img/2b.png) no-repeat !important; background-size: 100% !important;}
.bg3 .bg_div-right{background: url(../img/2c.png) no-repeat !important; background-size: 100% !important;}
.bg4 .bg_div-right{background: url(../img/2d.png) no-repeat !important; background-size: 100% !important;}
.bg5 .bg_div-right{background: url(../img/2e.png) no-repeat !important; background-size: 100% !important;}
.bg6 .bg_div-right{background: url(../img/3a.png) no-repeat !important; background-size: 100% !important;}
.bg7 .bg_div-right{background: url(../img/3b.png) no-repeat !important; background-size: 100% !important;}
.bg8 .bg_div-right{background: url(../img/3c.png) no-repeat !important; background-size: 100% !important;}
.bg9 .bg_div-right{background: url(../img/3d.png) no-repeat !important; background-size: 100% !important;}


.R_bg .bg_1{background: url(../img/2a.png) no-repeat !important; background-size: 100% !important;}
.R_bg .bg_2{background: url(../img/2b.png) no-repeat !important; background-size: 100% !important;}
.R_bg .bg_3{background: url(../img/2c.png) no-repeat !important; background-size: 100% !important;}
.R_bg .bg_4{background: url(../img/2d.png) no-repeat !important; background-size: 100% !important;}
.R_bg .bg_5{background: url(../img/2e.png) no-repeat !important; background-size: 100% !important;}
.R_bg .bg_6{background: url(../img/3a.png) no-repeat !important; background-size: 100% !important;}
.R_bg .bg_7{background: url(../img/3b.png) no-repeat !important; background-size: 100% !important;}
.R_bg .bg_8{background: url(../img/3c.png) no-repeat !important; background-size: 100% !important;}
.R_bg .bg_9{background: url(../img/3d.png) no-repeat !important; background-size: 100% !important;}


.bg_div-left{float: left;width: 33%;height: 100%;background: #cd3945;}
.bg_div-right{float: right;width: 67%;height: 100%;}
.bg_div-left >img{width: 94%;display: block;margin: 0 auto;margin-top: 15px;}
.bg_div-left >h5{width: 74%;margin: 0 auto;margin-top: 5%;line-height: 28px;font-size:16px;font-family: "微软雅黑";color: #fff;font-weight: 600;}
.bg_div-left >p{width: 74%;margin: 0 auto;line-height: 25px;font-size:12px;font-family: "微软雅黑";color: #fff;}
.bg_div-left >a{0px;margin: 0 auto;text-align: center;display: block;margin-top:8%;font-size:12px;font-family: "微软雅黑";color: #fff;}
.bg_div-left >a:hover{opacity: 0.8;}
.bg_div-left >a:active{position: relative;top: 2px;}.form_left 



.pj-Carousel-item >img{ margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;}
.pj-Carousel-active{position: absolute;bottom: 10px;margin: auto auto;z-index:5;}
.pj-Carousel-color{background: #003399;width: 14px;height: 14px;border-radius: 50%;float: left;margin: 0px 5px;}
.pj-Carousel .active{background: #008000;}

.pj-lunbo2 {width: 100%;overflow: hidden;position: relative;}
.pj-lunbo2 .pj-Carousel {height: 100%;width: 100% !important;}
.pj-lunbo2 .pj-Carousel .pj-Carousel-box{height: 100%;position: absolute;top: 0;left: 0;background: none;}
.pj-lunbo2 .pj-Carousel .pj-Carousel-item{float: left;height: 100%;position: relative;background: none;overflow: hidden;width: 100%;display: none;}

.pj-lunbo2 .pj-Carousel .pj-Carousel-active{position: absolute;bottom: 10px;margin: auto auto;z-index:5;}
.pj-lunbo2 .pj-Carousel .pj-Carousel-color{background: #003399;width: 14px;height: 14px;border-radius: 50%;float: left;margin: 0px 5px;}
.pj-lunbo2 .pj-Carousel .pj-Carousel .active{background: #008000;}


/*查看按钮*/
.box-btn{margin-left: -137px;width: 274px;height: 100px;position: absolute; bottom:10px;left: 50%;text-align: center;}
.box-btn >p{color: #fff;font-size: 16px;font-family: "微软雅黑";height: 36px;line-height: 36px;text-shadow: 1px 1px 5px #ccc;}
.box-btn >img:hover{cursor: pointer;}
.box-btn >img:active{position: relative;top: 2px;}


#pj-lunbo >p{width:20px;height:48px;position: absolute;z-index: 10000; top:45%;}
#pj-lunbo >p >a{display: block;position: relative;width:20px;height:48px;position: absolute;margin: auto;left: 0;top: 0;right: 0;bottom: 0;display: none;}

#pj-lunbo  .p_frist{left:10px;}
#pj-lunbo  .p_last{right:10px;}

/*关于天赋*/
.pub-title{width: 100%;height: 274px;text-align: center;color: #8f9192;overflow: hidden;}
.title-h6{line-height: 88px;height: 88px;font-size: 44px;font-family: "微软雅黑";font-weight: 100;margin-top: 100px;}
.title-eg{line-height: 28px;height: 28px;font-size: 16px;font-family: arial;font-weight: 100;letter-spacing:1px;}
.tf-bg{color: #fff;background: url(../img/bg-icon01.jpg) no-repeat center;height: 421px;width: 100%;overflow: hidden;font-family: "微软雅黑";font-size: 19px;}
.tf-bg >p{line-height: 28px;margin: 0 auto;width: 1050px;margin-top: 80px;}
.pub-herf{text-align: center;display: block;width: 120px;height: 42px;line-height: 42px;text-align: center;margin: 0 auto;color: #fff;border: 1px solid #fff;margin-top: 66px;}
.pub-herf:hover{opacity: 0.8;}
.pub-herf:active{position: relative;top: 2px;}
/*新闻资讯*/
.mian-new{color: #fff;background: #545555;height: 421px;width: 100%;overflow: hidden;font-family: "微软雅黑";font-size: 19px;}
.mian-new >h4{text-align: center;height: 58px;line-height: 58px;height: 58px;font-size: 46px;font-weight: 600;}
.mian-new >p{font-size: 18px;font-family: "微软雅黑";width: 1050px;margin: 0 auto;line-height: 28px;}

/*核心业务*/
.yewu-box{width: 1110px;margin: 0 auto;height: 341px;margin-bottom: 146px;}
.yewu-box >ul{width: 100%;}
.yewu-box >ul >li{width: 25%;float: left;overflow: hidden;text-align: center;font-family: "微软雅黑";}
.yewu-box >ul >li div{width: 200px;display: block;margin: 0 auto;margin-top: 24px;height: 200px;overflow: hidden;border-radius: 50% ;}
.yewu-box >ul >li div img{width: 100%;transition: all 0.6s;border-radius: 50%;}
.yewu-box >ul >li div img:hover{transform: rotate(30deg);}

.yewu-box >ul >li h2{color: #000;line-height: 34px;height: 34px;margin-top: 16px;font-size: 24px;}
.yewu-box >ul >li p{width: 91%;margin: 0 auto;line-height: 20px;font-size: 14px;color: #8f9192;}

/*公司表单*/
.form-company{width: 100%;height: 910px;background: url(../img/form_bg.jpg) no-repeat center;overflow: hidden;}
.box-msg{width: 1180px;height: 474px;margin: 0 auto;margin-top: 220px;overflow: hidden;}
.form_left{width: 552px;height: 474px;float: left;}
.form_left >input{text-indent: 20px;width: 552px;height: 43px;border: 1px solid #afafaf;border-radius: 5px;line-height: 43px;background: none;margin-bottom: 24px;font-family: "微软雅黑";font-size: 15px;color: #fff;font-weight: 600;}
.form_left >textarea{text-indent: 20px;width: 552px;height: 124px;border: 1px solid #afafaf;border-radius: 5px;line-height: 43px;background: none;margin-bottom: 24px;font-family: "微软雅黑";font-size: 15px;color: #fff;overflow: hidden;}
.form_left >a{text-align: center;line-height: 46px;height: 46px;background: #cf3945;display: block;width: 552px;font-family: "微软雅黑";font-size: 15px;color: #fff;border-radius: 5px;}
.form_left >a:hover{background: #d74c57;}
.form_left >a:active{background: #b9313c;position: relative;top: 2px;}






.address_right{width: 340px;height: 474px;float: left;margin-left: 256px;overflow: hidden;}
.address_right >dl{margin-top: 116px;}
.address_right >dl >dt{color: #fff;margin-bottom: 12px;line-height: ;}
.address_right >dl >dt >img{vertical-align: top;}
.address_right >dl >dt >span{line-height: 46px;font-size: 35px;font-family: arial;text-indent: 10px;font-weight: 600;}
.address_right >dl >dt >i{line-height: 30px;font-size: 15px;font-family: "微软雅黑";text-indent: 10px;width: 300px;}
.address_right >dl >dd{margin-top: 30px;width: 100%;height: 40px;line-height: 40px;text-indent: 4px;font-size: 15px;font-family: "微软雅黑";color: #cf3945;}
.address_right >dl >dd img{margin-left: 35px;}

/*页脚*/
#footer{width: 100%;height: 60px;line-height: 60px;background: #000000;font-family: "微软雅黑";font-size: 15px;text-align: center;color: #fff;}


/*弹出的白色弹窗*/
.alert_box{width: 100%;height: 100%;background: #fff;position: fixed;z-index: 99;left: 0;top: 0;display: none;}
.alert_box2{width: 100%;height: 100%;background: #fff;position: fixed;z-index: 99;left: 0;top: 0;}
.dl-box{width: 778px;height:540px;margin: 0 auto;position: absolute;left: 50%;top: 50%;margin-left: -389px;margin-top: -270px;}
.dl-box2{width: 778px;height:380px;margin: 0 auto;position: absolute;left: 50%;top: 50%;margin-left: -389px;margin-top: -270px;}
.dl-box2 >h6{font-size: 20px;color: #eee;line-height: 30px;text-align: center;margin-top: 30px;}
.dl-box2 >.search_input{width: 100%;height: 100px;border-bottom: 3px solid #ccc;}
.dl-box2 >.search_input >input{width: 100%;height: 100%;border: none;text-align: center;line-height: 100px;font-size: 70px;font-weight: bold;}
.dl-box2 >.search_input >input:focus{outline:none;}
.dl-box .close{background: url(../img/icon-min04.png) no-repeat;width: 74px;height:74px;margin: 0 auto;cursor: pointer;}
.dl-box2 .close{background: url(../img/icon-min04.png) no-repeat;width: 74px;height:74px;margin: 0 auto;cursor: pointer;}
.dl-box .close:hover{opacity: 0.8;}
.dl-box2 .close:hover{opacity: 0.8;}
.dl-box .close:active{position: relative;top: 1px;}
.dl-box2 .close:active{position: relative;top: 1px;}
.dl-box >dl{text-align: center;font-family: "微软雅黑";}
.dl-box >dl >dt{height: 60px;line-height: 60px;font-size: 32px;font-weight: bold;color: #2d292a;cursor: pointer;}
.dl-box >dl >.font-actve{color: #004873;}

.dl-box >dl  .pub-div-boxs{width: 778px;height: 220px;position: relative;}
.dl-box >dl  .pub-div-boxs >a{display: block;width: 21px;height: 41px;position: absolute;top: 50%;margin-top: -21px;-ms-transition: all  0.3s;transition: all  0.3s;opacity: 0;}
.dl-box >dl  .pub-div-boxs .page-left{left: -10px;background: url(../img/icon-min05.png) no-repeat;}
.dl-box >dl  .pub-div-boxs .page-right{right: -10px;background: url(../img/icon-min06.png) no-repeat;}
body .dl-box >dl  .pub-div-boxs .fadeLeft{left: 0;opacity: 1;}
body .dl-box >dl  .pub-div-boxs .fadeRight{right: 0;opacity: 1;}

.dl-box >dl  .pub-div-boxs .pub-div-box{width: 734px;height: 220px;margin: 0 auto;overflow: hidden;}
.dl-box >dl  .pub-div-box  ul{}
.dl-box >dl  .pub-div-box  ul >li{width: 244px;height: 220px;float: left;}
.dl-box >dl  .pub-div-box  ul >li a{display: block;width: 100%;height: 100%;color: #8f9192;font-size: 18px;line-height: 26px;}
.dl-box >dl  .pub-div-box  ul >li a >span{margin-top: 6px;}

/*//第4个轮播*/
.pub-div-Friend{width: 778px;height: 58px;position: relative;}
.pub-div-Friend .pj-Carousel {width: 569px;height: 58px;position: relative;margin: 0 auto;position: relative;}
.pub-div-Friend .pj-Carousel-item{width: 569px;height: 58px;}

.pub-div-Friend >a{display: block;width: 21px;height: 41px;position: absolute;top: 50%;margin-top: -21px;transition: all  0.3s;opacity: 0;}
.pub-div-Friend .page-prev{left: -10px;background: url(../img/icon-min05.png) no-repeat;}
.pub-div-Friend .page-next{right: -10px;background: url(../img/icon-min06.png) no-repeat;}
body .pub-div-Friend .page-prevAct{left: 0;opacity: 1;}
body .pub-div-Friend .page-nextAct{right: 0;opacity: 1;}

.dl-box >dl >dd{display: none;}
.dl-box >dl >dd >span{line-height: 30px;height: 30px;font-family: "微软雅黑";font-size: 18px;}

/*-webkit-transition-timing-function:cubic-bezier(0.470, -0.380, 0.345, 1.570);*/

/*按钮重复向下*/
.topN{animation: 1s topN ease-in-out infinite alternate;}
@-webkit-keyframes topN{
	0%{
		opacity: 0.6;
		transform: translateY(5px);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}
@-ms-keyframes topN{
	0%{
		opacity: 0.6;
		transform: translateY(5px);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}
@-o-keyframes topN{
	0%{
		opacity: 0.6;
		transform: translateY(5px);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}
@-moz-keyframes topN{
	0%{
		opacity: 0.6;
		transform: translateY(5px);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}

.div-svg{
				width: 80px;
				height: 80px;
				margin: 0 auto;			
				position: relative;
				margin-top: 24%;
			}
.div-svg >.nums_N{width: 80px;height: 80px;left: 0;top: 0;position: absolute;text-align: center;font-family: arial;}
.div-svg >.nums_N >span{width: 30px;line-height: 54px;font-size: 14px;color: #fff;height: 34px;}
.div-svg >.nums_N >p{font-size: 14px;color: #fff;line-height: 30px;border-top: 2px solid #e8ecef;width: 30px;margin: 0 auto;font-family: arial;opacity: 0.2;filter:alpha(opacity=20);}
			.svg2{opacity: 0.2;position: absolute;top: 0;left: 0;filter:alpha(opacity=20);}
		.div-svg>.timer-svg {
				position: absolute;
				left: 0;
				top: 0;
			}
		.circles {
				stroke-dasharray: 233;
				stroke-dashoffset: 233;
				animation: an 3s linear infinite;
				-webkit-animation: an 3s linear infinite;
			}
			.To_top {
				
				animation: To_top  2s cubic-bezier(0.4,-0.12, 0, 1.2) ;
				-webkit-animation: To_top  2s cubic-bezier(0.4,-0.12, 0, 1.2) ;
				-moz-animation: To_top  2s cubic-bezier(0.4,-0.12, 0, 1.2) ;
			}
			.To_Bottom {
				
				animation: To_Bottom  2s cubic-bezier(0.4,-0.12, 0, 1.2) ;
				-webkit-animation: To_Bottom  2s cubic-bezier(0.4,-0.12, 0, 1.2) ;
				-moz-animation: To_Bottom  2s cubic-bezier(0.4,-0.12, 0, 1.2) ;
			}
			
			@keyframes an {
				0% {
					stroke-dashoffset: 233;
				}
				100% {
					stroke-dashoffset: 0;
				}
			}
			
			@-webkit-keyframes an {
				0% {
					stroke-dashoffset: 233;
				}
				100% {
					stroke-dashoffset: 0;
				}
			}
			@-moz-keyframes an {
				0% {
					stroke-dashoffset: 233;
				}
				100% {
					stroke-dashoffset: 0;
				}
			}
			@keyframes To_top {
				0% {
					opacity: 0.4;
					transform: translateY(-100px);
				}
				100% {
					opacity: 1;

					transform: translateY(0px);
				}
			}
			
			@-webkit-keyframes To_top {
				0% {
					opacity: 0.4;
					transform: translateY(-100px);
				}
				100% {
					opacity: 1;

					transform: translateY(0px);
				}
			}
			@-moz-keyframes To_top {
				0% {
					opacity: 0.4;
					transform: translateY(-100px);
				}
				100% {
					opacity: 1;

					transform: translateY(0px);
				}
			}
			@keyframes To_Bottom {
				0% {
					opacity: 0.4;
					transform: translateY(100%);
				}
				100% {
					opacity: 1;

					transform: translateY(0px);
				}
			}
			
			@-webkit-keyframes To_Bottom {
				0% {
					opacity: 0.4;
					transform: translateY(100px);
					
				}
				100% {
					opacity: 1;

					transform: translateY(0px);
				}
			}
			@-moz-keyframes To_Bottom {
				0% {
					opacity: 0.4;
					transform: translateY(100px);
				}
				100% {
					opacity: 1;

					transform: translateY(0px);
				}
			}