html body{width: 100%;height: 100%;}
.swiper-container{width: 100%;height:20.3125rem;}
.swiper-container .a_left1{position: absolute;width: 1.25rem;height: 1.25rem;background: url(../img/banner-left01.png) no-repeat;background-size: 100%;position: absolute;top: 9.21875rem;z-index: 9;left: 0.625rem;}
.swiper-container .a_right1{position: absolute;width: 1.25rem;height: 1.25rem;background: url(../img/banner-right01.png) no-repeat;background-size: 100%;position: absolute;top: 9.21875rem;z-index: 9;right: 0.625rem;}
.swiper-container img{width: 100%;z-index: -1;}
.swiper-container .swiper-slide >a{display: block;width: 100%;height: 100%;position: relative;}
.swiper-container .swiper-slide >a h3{background: url(../img/banner-h3.png) no-repeat;width: 11.375rem;height: 1.1875rem;position: absolute;top:7.4375rem;background-size: 100% 100%;left: 4.40625rem;animation: 1s  4s top1;}
.swiper-container .swiper-slide >a h4{background: url(../img/banner-h4.png) no-repeat;background-size: 100% 100%;left: 4.40625rem;width: 11.375rem;height: 1.09375rem;top: 8.625rem;position: absolute;animation: 2s 3.8s left1 ease-out;}
.swiper-container .swiper-slide >a h5{position: absolute;top: 11.03125rem;left: 9.1875rem;background: url(../img/banner-h5.png);width: 6.4375rem;height: 1rem;background-size: 100% 100%;animation: 2s 3s top2 ease-in;}
.swiper-container2{width: 10.625rem;height: 20.3125rem;overflow: hidden;position: relative;margin: 0 auto;margin-top: 1.3125rem;}
 .a_left{position: absolute;width: 1.25rem;height: 5.09375rem;background: #fff;top: 13.09375rem;left: 0.9375rem;z-index: 10;}
 .a_right{position: absolute;width: 1.25rem;height: 5.09375rem;background: #fff;top: 13.09375rem;right: 0.9375rem;z-index: 10;}
 .a_left:active{background: #7f786c;}
 .a_right:active{background: #7f786c;}

 .a_left >i{display: block;width: 1.25rem;height: 1.25rem;background: url(../img/icon11.png) no-repeat;background-size: 100% 100%;margin-top: 1.875rem;}
 .a_right >i{display: block;width: 1.25rem;height: 1.25rem;background: url(../img/icon11.png) no-repeat;background-size: 100% 100%;transform: rotate(180deg);margin-top: 1.875rem;}

.swiper-container2 img{width: 100%;height: 10.5625rem;}
.swiper-container2 h3{height: 2.96875rem;line-height: 2.96875rem;text-align: left;font-size: 1.25rem;font-family: arial;color: #474747;border-bottom: 1px solid #9a9998;box-sizing: border-box;}
.swiper-container2 p{padding: 0.5rem 0;line-height: 1.1875rem;text-align: left;color: #474747;font-size: 0.75rem;}
.swiper-container2 .a_first{display: inline-block;width: 3.375rem; height: 1.34375rem;border: 1px solid #958f85;line-height: 1.34375rem;text-align: center;color: #99938b;font-size: 0.91rem;font-family: arial;margin-top: 0.8rem;box-sizing: border-box;vertical-align: top;position: relative;}
.swiper-container2 .a_last{display: inline-block;width: 4.53125rem;height: 1.34375rem;background: #958f85;color: #dbd9d6;font-size: 0.91rem;line-height: 1.34375rem;margin-top: 0.8rem;vertical-align: top;position: relative;}
.swiper-container2 .a_first:active{background: #958f85;color:#fff !important;top: 1px;}
.swiper-container2 .a_last:active{background: #958f85;color:#fff !important;top: 1px;}

.swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}
.swiper-pagination3 .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}
.swiper-container3{color: #6e6a64;width: 100%;min-height: 22.9375rem;padding-top: 27px;padding-bottom: 1.4375rem;background: #dbcfbb;position: relative;text-align: center;overflow: hidden;}
.swiper-container3 .swiper-pagination-bullet{margin-left: 5px;}
.swiper-container3 a{color: #6e6a64;}
.swiper-container3 img{width: 100%;}
.swiper-container3 h4{height: 1.9375rem;line-height: 1.9375rem;text-align: center;font-size: 1.4375rem;font-family: arial;}
.swiper-container3 h3{height: 1.84375rem;line-height: 1.84375rem;text-align: center;font-size: 0.96875rem;}
.swiper-container3 h2{width: 15.6875rem;height: 3.0625rem;line-height: 3.0625rem;margin: 0 auto;margin-top: 0.46875rem;border-bottom: 1px solid #737372;font-size: 1.21875rem;text-align: left;}
.swiper-container3 h1{width: 15.6875rem;margin: 0 auto;height: 2.21875rem;line-height: 2.21875rem;font-size: 0.71875rem;border-bottom: 1px solid #737372;text-align: left;}
.swiper-container3 p{width: 15.6875rem;margin: 0 auto;font-size: 0.625rem;line-height: 0.875rem;margin-top: 0.6875rem;text-align: left;}
.swiper-container3 .a_MORE{display: block;width: 3.375rem;height: 1.34375rem;border: 1px solid #958f85;line-height: 1.34375rem;text-align: center;color: #99938b;font-size: 0.91rem;font-family: arial;margin-top: 1.5625rem;margin-left: 2.25rem;}
.swiper-pagination3{margin-top: 1.3rem;}

.a_MORE{position: relative;}
.a_MORE:active{background: #958f85;color:#fff !important;top: 1px;}

.top-logo{width: 18.75rem;height: 2.2775rem;position: absolute;z-index: 999;background: #fff;left: 0.625rem;}
.top-logo>.phone{display: block;width: 5.03125rem;height: 2.1875rem;line-height: 2.1875rem;text-align: center;border-right: 1px solid #e5ded2;border-bottom: 0.09375rem solid #a99269;color: #a99269;position: absolute;left: 0;top: 0;}
.top-logo img{display: block;width: 3.4375rem;height: 3.125rem;margin: 0 auto;}
.top-logo>.list{width: 1.875rem;height: 2.1875rem;display: block;background: url(../img/icon06.png) no-repeat;background-size: 100% 100%;position: absolute;right: 0;top: 0;}

/*.top-logo>.list:hover{transform: translateX(0)}*/

.div-smg{width: 100%;min-height: 13.8125rem;background: #edebea;color: #99938b;overflow: hidden;padding-bottom: 0.6rem;position: relative;transition: all 1s 3s ease-in;transform: translateY(-20.3125rem);}
body .translateY20{transform: translateY(0);}

.div-smg >h4{height: 2.0625rem;line-height: 2.0625rem;text-align: center;margin-top: 0.625rem;font-size: 1.4375rem;font-family: arial;color: #99938b;}
.div-smg >h3{height: 1.75rem;line-height: 1.35rem;text-align: center;font-family: arial;font-size: 1rem;color: #99938b;}

.div-smg >p{width: 18.5625rem;margin: 0 auto;font-size: 0.625rem;font-family: arial;line-height: 1.09375rem;color: #c3bfbb;margin-top: 0.875rem;text-align: center;}

.div-smg >.a_MORE{display: block;width: 3.375rem;height: 1.34375rem;margin: 0 auto;border: 1px solid #958f85;line-height: 1.34375rem;text-align: center;color: #99938b;font-size: 0.91rem;font-family: arial;margin-top: 0.9375rem;}
/*教师力量*/
.teacher-list{width: 100%;min-height: 19.78125rem;padding-top: 1.1875rem;padding-bottom: 1.78125rem;background: #dbcfbb;text-align: center;}
.teacher-list h4 ,.curriculum-list h4{font-size: 1.5rem;color: #65625e;line-height: 2rem;height: 2rem;font-family: arial;}
.teacher-list h5 ,.curriculum-list h5{color:#65625e;line-height: 1.4375rem;font-size: 0.9375rem;font-family: arial;}
.teacher-list b, .curriculum-list b{width: 6.25rem;height: 1px;display: block;background: #65625e;margin: 0 auto;}
.line-b{width: 6.25rem;height: 1px;display: block;background: #65625e;margin: 0 auto;}
.teacher-list ul{width: 18.75rem;margin: 0 auto;margin-top: 0.55rem;}
.teacher-list ul li{min-height: 7.15625rem;width: 100%;clear: both;}
.teacher-list ul li .img-left{height: 5.025rem;width: 6.21875rem;float: left;border-right: 1px solid #9a9283;box-sizing: border-box;} 
.teacher-list ul li .img-right{height: 5.025rem;width: 12.53125rem;float: left;text-align: left;} 
.teacher-list ul li .img-right span{font-size: 0.75rem;color: #65625e;padding-left: 0.9375rem;}
.teacher-list ul li .img-right p{font-size: 0.5625rem;color: #65625e;line-height: 1.025rem;margin-top: 0.625rem;padding-left: 0.9375rem;}
.teacher-list ul li .img-left >img{width:5.3125rem;height: 5.3125rem;border-radius: 50%;margin-top: -0.5rem;}
.a_MORE {
    display: block;
    width: 3.375rem;
    height: 1.34375rem;
    margin: 0 auto;
    border: 1px solid #958f85;
    line-height: 1.34375rem;
    text-align: center;
    color: #99938b;
    font-size: 0.91rem;
    font-family: arial;
    /*margin-top: 0.9375rem;*/
}    
/*课程*/
.curriculum-list{padding: 1.59375rem 0;text-align: center;background: #edebea;position: relative;}
.my-yy{width: 100%;background: #dbcfbb;min-height: 20.09375rem;padding-bottom: 1.71875rem;padding-top: 0.90625rem;}
.my-yy>h4{height: 1.84375rem;line-height: 1.84375rem;text-align: center;font-size: 1.4375rem;font-family: arial;color: #ffffff;}
.my-yy>h3{height: 1.78125rem;line-height: 1.78125rem;text-align: center;font-family: arial;font-size: 1rem;color: #ffffff;}

.my-list{margin-top: 1.40625rem;}
.my-list >dt{padding-left: 0.6875rem;height: 2.09375rem;}
.my-list >dt>b{line-height: 2.09375rem;display: block;width: 2.09375rem;height: 2.09375rem;border-radius: 50%;background: #ffffff;color: #a99269;text-align: center;font-family: arial;font-size: 0.9375rem;float: left;}
.my-list >dt>span{text-indent: 0.5625rem;color: #fff;font-size: 1.09375rem;height: 2.09375rem;line-height: 1.8rem;}
.my-list >dd{min-height: 2.53125rem;padding-left: 3.34375rem;font-size: 0.75rem;color: #a39275;line-height: 1.65625rem;}
.a_next{display: block;background: url(../img/icon07.png) no-repeat;width: 1.1875rem;height: 1.0625rem;margin: 0 auto;background-size: 100% 100%;}

.div-table{width: 100%;background: #edebea;padding-top: 0.84375rem;padding-bottom: 2.25rem;height: 19.5rem;}
.div-table>h4{height: 1.84375rem;line-height: 1.84375rem;text-align: center;font-size: 1.4375rem;font-family: arial;color: #6e6a64;}
.div-table>h3{height: 1.78125rem;line-height: 1.78125rem;text-align: center;font-family: arial;font-size: 1rem;color: #6e6a64;}
.div-table dl{width: 18.75rem;margin: 0 auto;margin-top: 1.9375rem;}
.div-table dl dt{height: 1.65625rem;width: 100%;margin-bottom: 0.46875rem;}
.div-table dl dt input{border-radius: 0px;height: 1.65625rem;line-height: 1.65625rem;width: 100%;border: 1px solid #dbcfbb;background: #fff;font-size: 0.8125rem;color: #949494;text-indent: 0.53125rem;}
.div-table dl dd textarea{border-radius: 0px;width: 100%;line-height: 1.25625rem;border: 1px solid #dbcfbb;background: #fff;font-size: 0.8425rem;color: #949494;min-height: 6.1875rem;text-indent: 0.53125rem;}
.div-table dl dd{width: 100%;}
.to_top{height: 5.34375rem;width: 100%;background: #dbcfbb;overflow: hidden;}
.to_top a{display: block;width: 3.4375rem;height: 2.09375rem;margin: 0 auto;margin-top: 1.625rem;background: url(../img/icon05.png) no-repeat;background-size: 100% 100%;}

.div-table .a_submit{position: relative;background: #474747;display: block;width: 18.75rem;margin: 0 auto;margin-top: 1.5625rem;height: 1.8125rem;line-height: 1.8325rem;text-align: center;font-size: 0.8125;color: #fff;font-family: arial;}
.a_submit:active{background: #000;color:#eee;top: 1px;}


/*浮动*/
#floot{background: url(../img/index.png) no-repeat;background-size: 100%;width: 100%;height: 35.5rem;position: fixed;z-index: 10000;top: 0;left: 0;animation: names 4s ease-in forwards;}
/*.index-hide{display: none;}*/
@-webkit-keyframes names{
	0%{
		opacity: 0;
	}	
	20%{
		opacity:100;
	}
	80%{
		opacity:100;
	}
	100%{
		opacity:0;

	}
}

@-webkit-keyframes top1{
	0%{transform:translateX(10rem) ;}
	100%{transform:translateX(0rem) ;}
}
@-webkit-keyframes left1{
	0%{left: -4.40625rem;}	
	100%{left:4.40625rem}
}
@-webkit-keyframes top2{
	0%{transform:translateY(10rem) ;}
	100%{transform:translateX(0rem) ;}
}
@-o-keyframes top1{
	0%{transform:translateX(10rem) ;}
	100%{transform:translateX(0rem) ;}
}
@-o-keyframes left1{
	0%{left: -4.40625rem;}	
	100%{left:4.40625rem}
}
@-o-keyframes top2{
	0%{transform:translateY(10rem) ;}
	100%{transform:translateX(0rem) ;}
}
@-moz-keyframes top1{
	0%{transform:translateX(10rem) ;}
	100%{transform:translateX(0rem) ;}
}
@-moz-keyframes left1{
	0%{left: -4.40625rem;}	
	100%{left:4.40625rem}
}
@-moz-keyframes top2{
	0%{transform:translateY(10rem) ;}
	100%{transform:translateX(0rem) ;}
}
keyframes top1{
	0%{transform:translateX(10rem) ;}
	100%{transform:translateX(0rem) ;}
}
keyframes left1{
	0%{left: -4.40625rem;}	
	100%{left:4.40625rem}
}
keyframes top2{
	0%{transform:translateY(10rem) ;}
	100%{transform:translateX(0rem) ;}
}

