#container{height: 11.875rem;background: url(../img/logo_3.png) no-repeat;background-size: 100% 100%;}
.p{padding-top: 1.625rem;font-size: 0.875rem;font-family: "黑体";line-height: 1.46875rem;color: #000000;width: 86%;margin: 0 auto;padding-bottom: 3.7rem;}
.a_service{display: block;height: 2.25rem;width: 93.28%;margin:  0 auto;background: url(../img/a_service_bg.png) no-repeat;background-size: 100% 100%;}
